/0714Airfoil.txt
/0714AirfoilCamber.py
/0714Camber.txt
/assignmentPillowModule.py
/automateEmail.py
/catenary.py
/cd_avg.py
/checkCodeCodility.py
/crawler.py
/datamuse_api.py
/dataplot.py
/dataplot_using_dict.py
/faiza.py
/fibonacciAttempt.py
/fibonacciTree.py
/finalAssignmentPY3Opencv.py
/Final_assignment_course2.py
/fractalTree.py
/geckodriver.log
/getChannelPillow.py
/Groccery_store_checkout.py
/learningNewStuffs.py
/learning_time_module.py
/learning_using_excel_file.py
/mail_reply.py
/monteCarlo.py
/plot.py
/profive_infotech.py
/randomly_strolling_turtle.py
/SFK1.py
/SFK3.py
/SQLwithPython.py

/SWK2.py
/tryingNewStuffsbySide.py
/tryStuffs.py
/vectorFieldTopOfTheHill.py